/* You can add global styles to this file, and also import other style files */

.small-flag {
    width: 50px;
}

.contenedor{
    margin-left: 20%;
    margin-top: 4.5%;
    border-radius: 3%;
    width: 600px;
    height: auto;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.container-body{
    padding: 30px;
}

#tituloInfo {
    text-align: center;
}

.fila {
    margin-top: 50px;
}

.mr-1 {
    margin-right: 5px;
}